@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
 font-family: "Montserrat";
 background-color: white;
}

.popins{
  font-family: "Poppins";
}

.libre{
  font-family: "Libre Baskerville"
}


.text-size {
  /* Responsive below 1426px, fixed above */
  font-size: clamp(16px, 2vw, 50px);
}



@media (min-width: 1300px) {
  .text-size {
    font-size: 45px;
  }
}

@media (min-width: 1400px) {
  .text-size {
    font-size: 45px;
  }
}


@media (min-width: 1450px) {
  .text-size {
    font-size: 48px;
  }
}


#center div{
  display: flex;
  justify-content: center;
}


/* #center p {
  display: flex;
  justify-content: center;
} */